html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: rgba(235, 101, 53, 1)
}

/**********EatOptions Styling*********/
.EatOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  background-color: rgba(235, 101, 53, 1)
}

.EatOptions div {
  margin-top: 30px;
}

.EatOptions div h1 {
  font-weight: lighter;
  color: white;
}

.EatOptions button {
  width: 200px;
}

.EatOptions div h6 {
  margin: 0px;
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}

/**********FoodMain Styling*********/
.foodmainheader {
    display: flex;
    justify-content: space-between;
}
#foodnameheader {
    display: flex;
    justify-content: space-between;
}
#foodmainpage {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
}
#fooditem {
  margin: auto;
  margin-bottom: 25px;
  width: 400px;
}

/**********Profile Styling*********/
.Profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background: rgba(235, 101, 53, 1)
}

.top, .location {
  margin: 20px;
}

.location input {
  width: 200px;
}

.diet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.diet div {
  margin: 3px;
}

.diet Button {
  width: 100px;
  height: 100px;
  background: white;
  border: none;
  border-radius: 15%;
  border-style: none;
  outline: none;
}

.save {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.save a {
  margin: auto;
}

.save a button {
  width: 100px;
  height: 30px;
  background: green;
  color: white;
  border-radius: 10px;
  border-style: none;
  outline: none;
}

