html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: rgba(235, 101, 53, 1)
}

/**********EatOptions Styling*********/
.EatOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  background-color: rgba(235, 101, 53, 1)
}

.EatOptions div {
  margin-top: 30px;
}

.EatOptions div h1 {
  font-weight: lighter;
  color: white;
}

.EatOptions button {
  width: 200px;
}

.EatOptions div h6 {
  margin: 0px;
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}

/**********FoodMain Styling*********/
.foodmainheader {
    display: flex;
    justify-content: space-between;
}
#foodnameheader {
    display: flex;
    justify-content: space-between;
}
#foodmainpage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
    padding-top: 10px;
}
#fooditem {
  margin: auto;
  margin-bottom: 25px;
  width: 400px;
}

/**********Profile Styling*********/
.Profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background: rgba(235, 101, 53, 1);
}

.Profile h1, .Profile h2 {
  color: white;
}

.top, .location {
  margin: 20px;
}

.location label {
  margin-bottom: 20px;
}

.location input {
  width: 200px;
}

.diet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.diet div {
  margin: 3px;
}

#diet-button {
  width: 100px;
  height: 100px;
  background: white;
  border: none;
  border-radius: 15%;
  border-style: none;
  outline: none;
  padding: 0;
}

#diet-button p {
  margin: auto;
}

#diet-button img {
  width: 70px;
  margin: auto;
}

.Profile .save {
  width: 100%;
  position: absolute;
  Bottom: 0;
}

.save a {
  margin: auto;
}

.save a button {
  width: 100px;
  height: 30px;
  background: #16ab39;
  color: white;
  border-radius: 10px;
  border-style: none;
  outline: none;
}


/******Meal Types Styling******/
.MealOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background: rgba(235, 101, 53, 1);
  position: relative;
}

.MealOptions h2 {
  color: white;
}

.meals {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 5px;
}

.meal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100%;
}

.ui.fluid.toggle.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  background: white;
  border: none;
  border-style: none;
  outline: none;
  padding: 0;
  margin: 3px;
}

.ui.fluid.toggle.button p {
  margin: auto;
}

.ui.toggle.button img {
  width: 70px;
  margin: auto;
}

.MealOptions .save {
  width: 100%;
  position: absolute;
  Bottom: 0;
}

.save a {
  width: 100%;
}

#save {
  width: 100%;
  height: 50px;
  background: #16ab39;
  color: white;
  text-align: center;
}


